.text-stroked {
  color: black;
  cursor: pointer;
  margin-bottom: 35px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.text-stroked:hover {
  color: #18e2bd;
}

.text-stroked:hover ._45Degree {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.linksSection {
  background-image: url("./imgs/new.svg");
  background-repeat: no-repeat;
  background-position: left;
}

._45Degree {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.containerRight {
  -webkit-transition: all 0.23s ease-in-out;
  transition: all 0.23s ease-in-out;
  -webkit-clip-path: ellipse(50% 40% at 84% 1%);
          clip-path: ellipse(50% 40% at 84% 1%);
  -webkit-animation: clipAnim infinite 20s alternate;
          animation: clipAnim infinite 20s alternate;
}

.containerRight:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes clipAnim {
  0% {
    background-color: blue;
    -webkit-clip-path: ellipse(50% 40% at 84% 50%);
            clip-path: ellipse(50% 40% at 84% 50%);
  }
  50% {
    background-color: #0c5226;
    -webkit-clip-path: ellipse(81% 54% at 82% 14%);
            clip-path: ellipse(81% 54% at 82% 14%);
    background-position: 50% -20%;
  }
  100% {
    background-color: white;
    -webkit-clip-path: ellipse(51% 57% at 102% 95%);
            clip-path: ellipse(51% 57% at 102% 95%);
    background-position: 0% 0%;
  }
}

@keyframes clipAnim {
  0% {
    background-color: blue;
    -webkit-clip-path: ellipse(50% 40% at 84% 50%);
            clip-path: ellipse(50% 40% at 84% 50%);
  }
  50% {
    background-color: #0c5226;
    -webkit-clip-path: ellipse(81% 54% at 82% 14%);
            clip-path: ellipse(81% 54% at 82% 14%);
    background-position: 50% -20%;
  }
  100% {
    background-color: white;
    -webkit-clip-path: ellipse(51% 57% at 102% 95%);
            clip-path: ellipse(51% 57% at 102% 95%);
    background-position: 0% 0%;
  }
}

.cli:hover .copy_able {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.copy_able {
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.preloaderActive {
  overflow: hidden;
}

#preloader {
  z-index: 100;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#preloader.hide {
  visibility: hidden;
  opacity: 0;
}

.loader {
  -webkit-animation: loadingAnim 1s infinite alternate ease-in-out;
          animation: loadingAnim 1s infinite alternate ease-in-out;
}

.loader div {
  width: 30px;
  height: 30px;
  -webkit-animation: loadingAnim 2s infinite alternate ease-in-out;
          animation: loadingAnim 2s infinite alternate ease-in-out;
}

@-webkit-keyframes loadingAnim {
  from {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-radius: 0;
  }
  to {
    border-radius: 50%;
    -webkit-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
  }
}

@keyframes loadingAnim {
  from {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-radius: 0;
  }
  to {
    border-radius: 50%;
    -webkit-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
  }
}

#preloader_text {
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: capitalize;
}

.galleryImage {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  height: 500px;
  overflow: hidden;
}

.galleryImage:hover {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.galleryImage img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#filter {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  mix-blend-mode: difference;
  z-index: 10000000;
  pointer-events: none;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.spinner {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pointing_arrow {
  -webkit-animation: pointing 2s ease-in-out infinite;
          animation: pointing 2s ease-in-out infinite;
}

@-webkit-keyframes pointing {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes pointing {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.form-icons {
  display: block;
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-icons.textarea {
  top: 25px;
}
/*# sourceMappingURL=styles.css.map */